.body{
    margin: 0px;
}

.banner{
    background-color: #5089C6;
    font-family: Arial, Helvetica, sans-serif;
}

.banner td{
    padding: 0px;
}

.title{
    color: white;
    margin-top: 0px;
    margin-bottom:0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.map{
    display: block;
    width: 80%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

#cleanliness{
    opacity: 100%;
}

.stars{
    opacity: 50%;
    cursor: pointer;
    padding: 2px;
}

.stars:hover{
    opacity: 100%
}

.stars a:hover {
    opacity: 100%;
}

.stars a:hover ~ a {
    opacity: 50%
}